body {
	font-family: monospace;
	background-color: black;
	color: white;

	align-content: space-around;
	justify-content: space-around;
	text-align: center;

	flex-grow: 1;

	font-size: 18px;
}

h3 {
	margin-top: 0px;
}

.text {
	display: inline-block;
	width: 80%;
	max-width: 500px;
	margin-bottom: 42px;
}

.grid-container {
	display: flex;

	flex-flow: row wrap;
	flex-shrink: 0;

	justify-items: center;
	align-items: center;

	justify-self: center;
	align-self: center;

	justify-content: space-between;
	align-content: space-between;

	grid-template-columns: 200px 200px;
	grid-template-rows: 500px 500px;

	margin-left: auto;
	margin-right: auto;

	max-width: 1000px;
}

.grid-item {
	flex-grow: 1;
	flex-shrink: 0;

	min-width: 200px;
	margin: 30px;

	padding: 20px;
}

.game-link {
	display: inline-block;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: white;

	padding: 10px;
	width: 80%;
}

.link {
	color: white;
}

.vertical {
	flex-direction: column;
}

.whiteBorder {
	border-style: solid;
	border-width: 2px;

	border-radius: 5px;
}

#Contact {
	flex-grow: 1;
	flex-direction: column;
	align-self: flex-end;
	justify-self: end;
	justify-content: end;
}

#Introduction {
	font-family: monospace;
	font-size: 30px;
}

#Title {
	font-size: 50px;
}

#Main {
	flex-grow: 1;
	align-content: space-around;
	justify-content: space-around;
}

#ProjectLinks {
	display: inline-block;

	flex-flow: column;
}